#  Pandas tutorial

Pandas (panel data) is the second most useful Python library for data analysis and preparation. It allows to work with tabular data and provides very efficient and easy methods for:
- data selection
- data modification
- data indexing
- merging of data from various sources
- transforming data
- feeding data into `scikit-learn` and other ML-related libraries

In this tutorial we will go through the most useful and common operations performed on pandas.

There are two fundamental data structures that you need to understand:

- `pd.Series`: similar to a list, requires all elements to be of the same type, but provides additional methods and operations
- `pd.DataFrame`: this is the data structure which represents tabular data, each column in a data frame is a `Series` object, in addition each data frame contains a row index and a column index.

Let's dive into coding.

## Manual creation of a data frame

By convention, `pandas` library is imported using the alias `pd`.

The simplest way to create a dataframe is to provide a dictionary of lists. Each key becomes the name of the column, each list becomes the series contained in the column.

In [26]:
import pandas as pd

df = pd.DataFrame(
{
    'Code': ['PL', 'DE', 'GB', 'CZ'],
    'Name': ['Poland', 'Germany', 'Great Britain', 'Czech Republic'],
    'Population': [38000000, 80000000, 65000000, 10000000]
})

df

  Code            Name  Population
0   PL          Poland    38000000
1   DE         Germany    80000000
2   GB   Great Britain    65000000
3   CZ  Czech Republic    10000000

Each column is a `pd.Series` object. We can inspect it using either the dot notation, or by referring to the column by its name in brackets.

In [27]:
df.Population
type(df.Population)

pandas.core.series.Series

In [28]:
df[['Population','Code']]

   Population Code
0    38000000   PL
1    80000000   DE
2    65000000   GB
3    10000000   CZ

## Reading data from a file

There are two most common ways of reading text files into `pandas`:
- `pd.read_table`: assumes tab-separated text file
- `pd.read_csv`: assumes comma-separated text file

For the sake of reproducibility we will use public onlie datasets and we will read them directly off the Web. Please take a moment to investigate these datasets:

- [Chipotle orders](https://bit.ly/chiporders)
- [UFO sighting reports](https://bit.ly/uforeports)
- [IMDB movie ratings](https://bit.ly/imdbratings)
- [Drinking by country](https://bit.ly/drinksbycountry)

In [29]:
orders = pd.read_table('https://bit.ly/chiporders')

orders.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [30]:
ufo = pd.read_csv('https://bit.ly/uforeports')

ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

Individual series can be concatenated just like strings in Python.

In [31]:
orders.item_name + ' ' + orders.item_price

0                Chips and Fresh Tomato Salsa $2.39
1                                        Izze $3.39
2                            Nantucket Nectar $3.39
3       Chips and Tomatillo-Green Chili Salsa $2.39
4                               Chicken Bowl $16.98
                            ...
4617                           Steak Burrito $11.75
4618                           Steak Burrito $11.75
4619                      Chicken Salad Bowl $11.25
4620                       Chicken Salad Bowl $8.75
4621                       Chicken Salad Bowl $8.75
Length: 4622, dtype: object

## Analyzing a data frame

`pandas` provides simple methods that allow you to investigate the aggregate properties of individual series and the entire data frame.

In [32]:
movies = pd.read_csv('https://bit.ly/imdbratings')

movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

A simple way to quickly learn the distribution of a feature is to use the `describe()` method

In [33]:
movies.duration.describe()

count    979.000000
mean     120.979571
std       26.218010
min       64.000000
25%      102.000000
50%      117.000000
75%      134.000000
max      242.000000
Name: duration, dtype: float64

The output of the `describe()` method depends on whether the feature is numerical or categorical.

In [34]:
movies.genre.describe()

count       979
unique       16
top       Drama
freq        278
Name: genre, dtype: object

One can apply the `describe()` method to the entire dataframe as well.

In [35]:
movies.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [36]:
movies.shape

(979, 6)

In [37]:
movies.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [38]:
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

For more advanced analysis of `pandas` dataframe we can use the excellent `pandas-profiling` library

In [225]:
from ydata_profiling import ProfileReport

movies_profile = ProfileReport(df=movies, title="Analysis of the Movies dataframe", explorative=True)
print(movies_profile.to_html())

# or simply: movies.profile_report(title="Analysis of the Movies dataframe")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Unexpected exception formatting exception. Falling back to standard exception

/home/krzys/miniconda3/lib/python3.11/site-packages/ydata_profiling/model/correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'R'')
  warnings.warn(
Traceback (most recent call last):
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3526, in run_code
    A compiled code object, to be executed
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/ipykernel_3435/764198215.py", line 4, in <module>
    print(movies_profile.to_html())
          ^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/ydata_profiling/profile_report.py", line 487, in to_html
    return self.html
           ^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/ydata_profiling/profile_report.py", line 283, in html
    self._html = self._render_html()
                 ^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/ydata_profiling/profile_report.py", line 400, in _render_html
    report = self.report
             ^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/ydata_profiling/profile_report.py", line 277, in report
    self._report = get_report_structure(self.config, self.description_set)
                                                     ^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/ydata_profiling/profile_report.py", line 259, in description_set
    self._description_set = describe_df(
                            ^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/ydata_profiling/model/describe.py", line 130, in describe
    scatter_matrix[x][y] = progress(
                           ^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/ydata_profiling/utils/progress_bar.py", line 11, in inner
    ret = fn(*args, **kwargs)
          ^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/ydata_profiling/model/pairwise.py", line 31, in get_scatter_plot
    return scatter_pairwise(config, df_temp[x], df_temp[y], x, y)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/contextlib.py", line 80, in inner
    with self._recreate_cm():
  File "/home/krzys/miniconda3/lib/python3.11/contextlib.py", line 137, in __enter__
    return next(self.gen)
           ^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/ydata_profiling/visualisation/context.py", line 82, in manage_matplotlib_context
    deregister_matplotlib_converters()  # revert to original unit registries
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/pandas/plotting/_misc.py", line 151, in deregister
    plot_backend = _get_plot_backend("matplotlib")
                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/pandas/plotting/_core.py", line 1947, in _get_plot_backend
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/pandas/plotting/_core.py", line 1877, in _load_backend
    ) from None
ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 2120, in showtraceback
    'the full traceback.\n']
               ^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/stack_data/core.py", line 698, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/stack_data/core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/stack_data/core.py", line 628, in executing_piece
    return only(
           ^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/executing/executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

## Renaming columns

In [40]:
ufo = pd.read_csv('https://bit.ly/uforeports')

ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [41]:
ufo['Colors Reported']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

If a column name contains a space, it can no longer be used with the dot notation. There are many ways a column may be renamed.

In [42]:
ufo.rename(columns={'Colors Reported': 'Colors_Reported', 'Time': 'Date and tmie'})

,City,Colors_Reported,Shape Reported,State,Date and tmie
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [22]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [23]:
col_names = ['city', 'colors_reported', 'shape_reported', 'state', 'time']

pd.read_csv('https://bit.ly/uforeports', names=col_names)

              city  colors_reported  shape_reported  state              time
0             City  Colors Reported  Shape Reported  State              Time
1           Ithaca              NaN        TRIANGLE     NY    6/1/1930 22:00
2      Willingboro              NaN           OTHER     NJ   6/30/1930 20:00
3          Holyoke              NaN            OVAL     CO   2/15/1931 14:00
4          Abilene              NaN            DISK     KS    6/1/1931 13:00
...            ...              ...             ...    ...               ...
18237   Grant Park              NaN        TRIANGLE     IL  12/31/2000 23:00
18238  Spirit Lake              NaN            DISK     IA  12/31/2000 23:00
18239  Eagle River              NaN             NaN     WI  12/31/2000 23:45
18240  Eagle River              RED           LIGHT     WI  12/31/2000 23:45
18241         Ybor              NaN            OVAL     FL  12/31/2000 23:59

[18242 rows x 5 columns]

In [47]:
ufo.columns = ufo.columns + ['non existing column']
ufo.columns
#ufo.head()

Index(['Citynon existing columnnon existing columnnon existing columnnon existing column',
       'Colors Reportednon existing columnnon existing columnnon existing columnnon existing column',
       'Shape Reportednon existing columnnon existing columnnon existing columnnon existing column',
       'Statenon existing columnnon existing columnnon existing columnnon existing column',
       'Timenon existing columnnon existing columnnon existing columnnon existing column'],
      dtype='object')

## Dropping rows and columns

An important concept in `pandas` is the concept of an **axis**. An axis is the direction in which an operation is performed. 0-axis refers to an operation that is applied to each row, 1-axis refers to an operation which is applied to all columns.

By default, `pandas` expects the rows to be dropped, so if you want to drop a column, you have to explicitly state `axis=1`.

In [48]:
drinks = pd.read_csv('https://bit.ly/drinksbycountry')

drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [49]:
drinks.shape

(193, 6)

In [51]:
drinks.beer_servings.mean()

106.16062176165804

In [58]:
drinks[["beer_servings", "wine_servings"]].mean(axis=0)

beer_servings    106.160622
wine_servings     49.450777
dtype: float64

In [65]:
ufo = pd.read_csv('https://bit.ly/uforeports')

In [66]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [73]:
ufo.drop('City', axis=1)

      Colors Reported Shape Reported State              Time
0                 NaN       TRIANGLE    NY    6/1/1930 22:00
1                 NaN          OTHER    NJ   6/30/1930 20:00
2                 NaN           OVAL    CO   2/15/1931 14:00
3                 NaN           DISK    KS    6/1/1931 13:00
4                 NaN          LIGHT    NY   4/18/1933 19:00
...               ...            ...   ...               ...
18236             NaN       TRIANGLE    IL  12/31/2000 23:00
18237             NaN           DISK    IA  12/31/2000 23:00
18238             NaN            NaN    WI  12/31/2000 23:45
18239             RED          LIGHT    WI  12/31/2000 23:45
18240             NaN           OVAL    FL  12/31/2000 23:59

[18241 rows x 4 columns]

In [74]:
ufo

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [69]:
ufo_backup = ufo.set_index('City')

In [70]:
ufo_backup.head()

                     Colors Reported Shape Reported State             Time
City
Ithaca                           NaN       TRIANGLE    NY   6/1/1930 22:00
Willingboro                      NaN          OTHER    NJ  6/30/1930 20:00
Holyoke                          NaN           OVAL    CO  2/15/1931 14:00
Abilene                          NaN           DISK    KS   6/1/1931 13:00
New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [71]:
ufo_backup.drop('Ithaca', axis=0)

                     Colors Reported Shape Reported State              Time
City
Willingboro                      NaN          OTHER    NJ   6/30/1930 20:00
Holyoke                          NaN           OVAL    CO   2/15/1931 14:00
Abilene                          NaN           DISK    KS    6/1/1931 13:00
New York Worlds Fair             NaN          LIGHT    NY   4/18/1933 19:00
Valley City                      NaN           DISK    ND   9/15/1934 15:30
...                              ...            ...   ...               ...
Grant Park                       NaN       TRIANGLE    IL  12/31/2000 23:00
Spirit Lake                      NaN           DISK    IA  12/31/2000 23:00
Eagle River                      NaN            NaN    WI  12/31/2000 23:45
Eagle River                      RED          LIGHT    WI  12/31/2000 23:45
Ybor                             NaN           OVAL    FL  12/31/2000 23:59

[18233 rows x 4 columns]

In [72]:
ufo.drop('Time', axis=1)

                       City Colors Reported Shape Reported State
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
...                     ...             ...            ...   ...
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

[18241 rows x 4 columns]

In [75]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [77]:
ufo

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [78]:
ufo.drop([1,3,4]).head()

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00
5  Valley City             NaN           DISK    ND  9/15/1934 15:30
6  Crater Lake             NaN         CIRCLE    CA   6/15/1935 0:00
7         Alma             NaN           DISK    MI   7/15/1936 0:00

In [79]:
ufo.index[0:10]

RangeIndex(start=0, stop=10, step=1)

In [80]:
ufo.drop(ufo.index[0:3]).head()

                   City Colors Reported Shape Reported State             Time
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00
5           Valley City             NaN           DISK    ND  9/15/1934 15:30
6           Crater Lake             NaN         CIRCLE    CA   6/15/1935 0:00
7                  Alma             NaN           DISK    MI   7/15/1936 0:00

All these operations do not change the underlying object, but return a modified copy of the object. If you want to perform the operation on the object, you should:
- add `inplace=True`: more efficient and explicit, or
- use assignment: may be a bit slower, but many people prefer this

In [81]:
ufo.drop('State', axis=1, inplace=True)

ufo.head()

                   City Colors Reported Shape Reported             Time
0                Ithaca             NaN       TRIANGLE   6/1/1930 22:00
1           Willingboro             NaN          OTHER  6/30/1930 20:00
2               Holyoke             NaN           OVAL  2/15/1931 14:00
3               Abilene             NaN           DISK   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT  4/18/1933 19:00

In [82]:
ufo = ufo.drop([0,1,4])

ufo.head()

          City Colors Reported Shape Reported             Time
2      Holyoke             NaN           OVAL  2/15/1931 14:00
3      Abilene             NaN           DISK   6/1/1931 13:00
5  Valley City             NaN           DISK  9/15/1934 15:30
6  Crater Lake             NaN         CIRCLE   6/15/1935 0:00
7         Alma             NaN           DISK   7/15/1936 0:00

## Exercise

1. Read the *Titanic* dataset from https://tinyurl.com/y9p968ys into a dataframe called `titanic`
2. Display first 15 rows of the dataset
3. Rename `PassengerId` to `ID`, `Lname` to `last_name`, and `Name` to `first_name`
4. Remove all rows for which the cabin number is not known

In [85]:
url = "https://tinyurl.com/y9p968ys"
titanic = pd.read_csv(url)
titanic.head(15)

,PassengerId,Survived,Pclass,Lname,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen,Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen,Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,Moran,Mr. James,male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,McCarthy,Mr. Timothy J,male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,Palsson,Master. Gosta Leonard,male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,Johnson,Mrs. Oscar W (Elisabeth Vilhelmina Berg),female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,Nasser,Mrs. Nicholas (Adele Achem),female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,Sandstrom,Miss. Marguerite Rut,female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,Bonnell,Miss. Elizabeth,female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,Saundercock,Mr. William Henry,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,Andersson,Mr. Anders Johan,male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,Vestrom,Miss. Hulda Amanda Adolfina,female,14.0,0,0,350406,7.8542,NaN,S

In [90]:
titanic.rename(
    columns={
        "PassengerId": "ID",
        "Lname": "last_name",
        "Name": "first_name",
    }
)

,ID,Survived,Pclass,last_name,first_name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,Braund,Mr. Owen Harris,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,Heikkinen,Miss. Laina,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,Allen,Mr. William Henry,male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,152,1,1,Pears,Mrs. Thomas (Edith Wearne),female,22.0,1,0,113776,66.6000,C2,S
152,153,0,3,Meo,Mr. Alfonzo,male,55.5,0,0,A.5. 11206,8.0500,NaN,S
153,154,0,3,van Billiard,Mr. Austin Blyler,male,40.5,0,2,A/5. 851,14.5000,NaN,S
154,155,0,3,Olsen,Mr. Ole Martin,male,NaN,0,0,Fa 265302,7.3125,NaN,S
155,156,0,1,Williams,Mr. Charles Duane,male,51.0,0,1,PC 17597,61.3792,NaN,C

In [94]:
titanic.dropna(subset=["Cabin"]) # inplace = True)

,PassengerId,Survived,Pclass,Lname,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,Cumings,Mrs. John Bradley (Florence Briggs Thayer),female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,Futrelle,Mrs. Jacques Heath (Lily May Peel),female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,McCarthy,Mr. Timothy J,male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,Sandstrom,Miss. Marguerite Rut,female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,Bonnell,Miss. Elizabeth,female,58.0,0,0,113783,26.5500,C103,S
21,22,1,2,Beesley,Mr. Lawrence,male,34.0,0,0,248698,13.0000,D56,S
23,24,1,1,Sloper,Mr. William Thompson,male,28.0,0,0,113788,35.5000,A6,S
27,28,0,1,Fortune,Mr. Charles Alexander,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
31,32,1,1,Spencer,Mrs. William Augustus (Marie Eugenie),female,NaN,1,0,PC 17569,146.5208,B78,C
52,53,1,1,Harper,Mrs. Henry Sleeper (Myna Haxtun),female,49.0,1,0,PC 17572,76.7292,D33,C
54,55,0,1,Ostby,Mr. Engelhart Cornelius,male,65.0,0,1,113509,61.9792,B30,C
55,56,1,1,Woolner,Mr. Hugh,male,NaN,0,0,19947,35.5000,C52,S
61,62,1,1,Icard,Miss. Amelie,female,38.0,0,0,113572,80.0000,B28,NaN
62,63,0,1,Harris,Mr. Henry Birkhardt,male,45.0,1,0,36973,83.4750,C83,S
66,67,1,2,Nye,Mrs. (Elizabeth Ramell),female,29.0,0,0,C.A. 29395,10.5000,F33,S
75,76,0,3,Moen,Mr. Sigurd Hansen,male,25.0,0,0,348123,7.6500,F G73,S
88,89,1,1,Fortune,Miss. Mabel Helen,female,23.0,3,2,19950,263.0000,C23 C25 C27,S
92,93,0,1,Chaffee,Mr. Herbert Fuller,male,46.0,1,0,W.E.P. 5734,61.1750,E31,S
96,97,0,1,Goldschmidt,Mr. George B,male,71.0,0,0,PC 17754,34.6542,A5,C
97,98,1,1,Greenfield,Mr. William Bertram,male,23.0,0,1,PC 17759,63.3583,D10 D12,C
102,103,0,1,White,Mr. Richard Frasar,male,21.0,0,1,35281,77.2875,D26,S
110,111,0,1,Porter,Mr. Walter Chamberlain,male,47.0,0,0,110465,52.0000,C110,S
118,119,0,1,Baxter,Mr. Quigg Edmond,male,24.0,0,1,PC 17558,247.5208,B58 B60,C
123,124,1,2,Webber,Miss. Susan,female,32.5,0,0,27267,13.0000,E101,S
124,125,0,1,White,Mr. Percival Wayland,male,54.0,0,1,35281,77.2875,D26,S
128,129,1,3,Peter,Miss. Anna,female,NaN,1,1,2668,22.3583,F E69,C
136,137,1,1,Newsom,Miss. Helen Monypeny,female,19.0,0,2,11752,26.2833,D47,S
137,138,0,1,Futrelle,Mr. Jacques Heath,male,37.0,1,0,113803,53.1000,C123,S
139,140,0,1,Giglio,Mr. Victor,male,24.0,0,0,PC 17593,79.2000,B86,C
148,149,0,2,Navratil,Mr. Michel,male,36.5,0,2,230080,26.0000,F2,S
151,152,1,1,Pears,Mrs. Thomas (Edith Wearne),female,22.0,1,0,113776,66.6000,C2,S

## Sorting data frames

You can sort individual series within a data frame, and you can sort the entire data frame. Sorting can be made permanent.

In [95]:
movies = pd.read_csv('https://bit.ly/imdbratings')

movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [96]:
movies.duration.sort_index()

0      142
1      175
2      200
3      152
4      154
      ...
974    116
975    118
976    138
977    114
978    126
Name: duration, Length: 979, dtype: int64

In [99]:
movies.duration.sort_values(ascending=False)

476    242
157    238
78     229
142    224
445    220
      ...
293     68
88      68
258     67
338     66
389     64
Name: duration, Length: 979, dtype: int64

In [100]:
movies.sort_values('title', ascending=False)

,star_rating,title,content_rating,genre,duration,actors_list
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."
526,7.8,Zulu,UNRATED,Drama,138,"[u'Stanley Baker', u'Jack Hawkins', u'Ulla Jac..."
615,7.7,Zombieland,R,Comedy,88,"[u'Jesse Eisenberg', u'Emma Stone', u'Woody Ha..."
677,7.7,Zodiac,R,Crime,157,"[u'Jake Gyllenhaal', u'Robert Downey Jr.', u'M..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
...,...,...,...,...,...,...
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
698,7.6,127 Hours,R,Adventure,94,"[u'James Franco', u'Amber Tamblyn', u'Kate Mara']"
201,8.1,12 Years a Slave,R,Biography,134,"[u'Chiwetel Ejiofor', u'Michael Kenneth Willia..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
542,7.8,(500) Days of Summer,PG-13,Comedy,95,"[u'Zooey Deschanel', u'Joseph Gordon-Levitt', ..."

In [101]:
movies.sort_values(['content_rating', 'duration'])

,star_rating,title,content_rating,genre,duration,actors_list
713,7.6,The Jungle Book,APPROVED,Animation,78,"[u'Phil Harris', u'Sebastian Cabot', u'Louis P..."
513,7.8,Invasion of the Body Snatchers,APPROVED,Horror,80,"[u'Kevin McCarthy', u'Dana Wynter', u'Larry Ga..."
272,8.1,The Killing,APPROVED,Crime,85,"[u'Sterling Hayden', u'Coleen Gray', u'Vince E..."
703,7.6,Dracula,APPROVED,Horror,85,"[u'Bela Lugosi', u'Helen Chandler', u'David Ma..."
612,7.7,A Hard Day's Night,APPROVED,Comedy,87,"[u'John Lennon', u'Paul McCartney', u'George H..."
...,...,...,...,...,...,...
387,8.0,Midnight Cowboy,X,Drama,113,"[u'Dustin Hoffman', u'Jon Voight', u'Sylvia Mi..."
86,8.4,A Clockwork Orange,X,Crime,136,"[u'Malcolm McDowell', u'Patrick Magee', u'Mich..."
187,8.2,Butch Cassidy and the Sundance Kid,NaN,Biography,110,"[u'Paul Newman', u'Robert Redford', u'Katharin..."
936,7.4,True Grit,NaN,Adventure,128,"[u'John Wayne', u'Kim Darby', u'Glen Campbell']"
649,7.7,Where Eagles Dare,NaN,Action,158,"[u'Richard Burton', u'Clint Eastwood', u'Mary ..."

## Filter rows by a value in a column

The filtering in `pandas` works very similarly to the way we do filtering in `NumPy`. We will start with creating a boolean series based on a condition, and then we will pass this series as an indexer to the data frame.

In [102]:
movies.genre == 'Horror'

0      False
1      False
2      False
3      False
4      False
       ...
974    False
975    False
976    False
977     True
978    False
Name: genre, Length: 979, dtype: bool

In [103]:
movies.shape

(979, 6)

In [104]:
movies[movies.genre.isin(['Horror','Thriller','Mystery'])]

,star_rating,title,content_rating,genre,duration,actors_list
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C..."
39,8.6,Psycho,R,Horror,109,"[u'Anthony Perkins', u'Janet Leigh', u'Vera Mi..."
46,8.5,Memento,R,Mystery,113,"[u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan..."
57,8.5,Alien,R,Horror,117,"[u'Sigourney Weaver', u'Tom Skerritt', u'John ..."
62,8.5,The Shining,R,Horror,146,"[u'Jack Nicholson', u'Shelley Duvall', u'Danny..."
76,8.4,Vertigo,APPROVED,Mystery,128,"[u'James Stewart', u'Kim Novak', u'Barbara Bel..."
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
149,8.2,Rebecca,NOT RATED,Mystery,130,"[u'Laurence Olivier', u'Joan Fontaine', u'Geor..."
161,8.2,Diabolique,UNRATED,Horror,116,"[u'Simone Signoret', u'V\xe9ra Clouzot', u'Pau..."
186,8.2,The Thing,R,Horror,109,"[u'Kurt Russell', u'Wilford Brimley', u'Keith ..."
244,8.1,Shutter Island,R,Mystery,138,"[u'Leonardo DiCaprio', u'Emily Mortimer', u'Ma..."
249,8.1,Sleuth,PG,Mystery,138,"[u'Laurence Olivier', u'Michael Caine', u'Alec..."
264,8.1,Twelve Monkeys,R,Mystery,129,"[u'Bruce Willis', u'Madeleine Stowe', u'Brad P..."
292,8.1,The Manchurian Candidate,APPROVED,Mystery,126,"[u'Frank Sinatra', u'Laurence Harvey', u'Janet..."
317,8.0,Dawn of the Dead,UNRATED,Horror,127,"[u'David Emge', u'Ken Foree', u'Scott H. Reini..."
322,8.0,The Exorcist,R,Horror,122,"[u'Ellen Burstyn', u'Max von Sydow', u'Linda B..."
330,8.0,Nosferatu,UNRATED,Horror,81,"[u'Max Schreck', u'Greta Schr\xf6der', u'Ruth ..."
350,8.0,Shadow of a Doubt,APPROVED,Thriller,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona..."
351,8.0,Frankenstein,UNRATED,Horror,70,"[u'Colin Clive', u'Mae Clarke', u'Boris Karloff']"
353,8.0,Night of the Living Dead,UNRATED,Horror,96,"[u'Duane Jones', u""Judith O'Dea"", u'Karl Hardm..."
405,7.9,The Bride of Frankenstein,NOT RATED,Horror,75,"[u'Boris Karloff', u'Elsa Lanchester', u'Colin..."
467,7.9,The 39 Steps,UNRATED,Mystery,86,"[u'Robert Donat', u'Madeleine Carroll', u'Luci..."
496,7.8,Misery,R,Thriller,107,"[u'James Caan', u'Kathy Bates', u'Richard Farn..."
513,7.8,Invasion of the Body Snatchers,APPROVED,Horror,80,"[u'Kevin McCarthy', u'Dana Wynter', u'Larry Ga..."
572,7.8,The Birds,PG-13,Horror,119,"[u'Rod Taylor', u'Tippi Hedren', u'Suzanne Ple..."
583,7.8,Dark City,R,Mystery,100,"[u'Rufus Sewell', u'Kiefer Sutherland', u'Jenn..."
655,7.7,Saw,R,Horror,103,"[u'Cary Elwes', u'Leigh Whannell', u'Danny Glo..."
688,7.7,The Wicker Man,R,Horror,88,"[u'Edward Woodward', u'Christopher Lee', u'Dia..."
703,7.6,Dracula,APPROVED,Horror,85,"[u'Bela Lugosi', u'Helen Chandler', u'David Ma..."
708,7.6,28 Days Later...,R,Horror,113,"[u'Cillian Murphy', u'Naomie Harris', u'Christ..."
728,7.6,La piel que habito,R,Thriller,120,"[u'Antonio Banderas', u'Elena Anaya', u'Jan Co..."
736,7.6,The Others,PG-13,Horror,104,"[u'Nicole Kidman', u'Christopher Eccleston', u..."
742,7.6,Following,R,Mystery,69,"[u'Jeremy Theobald', u'Alex Haw', u'Lucy Russe..."
769,7.6,The Omen,R,Horror,111,"[u'Gregory Peck', u'Lee Remick', u'Harvey Step..."
779,7.6,Interview with the Vampire: The Vampire Chroni...,R,Horror,123,"[u'Brad Pitt', u'Tom Cruise', u'Antonio Bander..."
796,7.6,The Evil Dead,NC-17,Horror,85,"[u'Bruce Campbell', u'Ellen Sandweiss', u'Rich..."
847,7.5,The Conjuring,R,Horror,112,"[u'Patrick Wilson', u'Vera Farmiga', u'Ron Liv..."
848,7.5,The Man Who Knew Too Much,PG,Thriller,120,"[u'James Stewart', u'Doris Day', u'Brenda de B..."
860,7.5,The Fly,R,Horror,96,"[u'Jeff Goldblum', u'Geena Davis', u'John Getz']"
863,7.5,Three Days of the Condor,R,Mystery,117,"[u'Robert Redford', u'Faye Dunaway', u'Cliff R..."
864,7.5,[Rec],R,Horror,78,"[u'Manuela Velasco', u'Ferran Terraza', u'Jorg..."
866,7.5,To Catch a Thief,APPROVED,Mystery,106,"[u'Cary Grant', u'Grace Kelly', u'Jessie Royce..."
869,7.5,A Nightmare on Elm Street,R,Horror,91,"[u'Heather Langenkamp', u'Johnny Depp', u'Robe..."
881,7.5,The Texas Chain Saw Massacre,R,Horror,83,"[u'Marilyn Burns', u'Edwin Neal', u'Allen Danz..."
894,7.5,Source Code,PG-13,Mystery,93,"[u'Jake Gyllenhaal', u'Michelle Monaghan', u'V..."
902,7.5,Frenzy,R,Thriller,116,"[u'Jon Finch', u'Barry Foster', u'Alec McCowen']"
905,7.5,Dracula,R,Horror,128,"[u'Gary Oldman', u'Winona Ryder', u'Anthony Ho..."
913,7.5,Suspiria,X,Horror,92,"[u'Jessica Harper', u'Stefania Casini', u'Flav..."
965,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."

If we want to combine several conditions, there are two important things to remember:
- each condition must be in parentheses to help `pandas` establish the order of execution
- instead of `and`, `or` operators we must use `&` and `|`

In [105]:
movies[ (movies.genre == 'Horror') & (movies.duration > 120)]

,star_rating,title,content_rating,genre,duration,actors_list
62,8.5,The Shining,R,Horror,146,"[u'Jack Nicholson', u'Shelley Duvall', u'Danny..."
317,8.0,Dawn of the Dead,UNRATED,Horror,127,"[u'David Emge', u'Ken Foree', u'Scott H. Reini..."
322,8.0,The Exorcist,R,Horror,122,"[u'Ellen Burstyn', u'Max von Sydow', u'Linda B..."
779,7.6,Interview with the Vampire: The Vampire Chroni...,R,Horror,123,"[u'Brad Pitt', u'Tom Cruise', u'Antonio Bander..."
905,7.5,Dracula,R,Horror,128,"[u'Gary Oldman', u'Winona Ryder', u'Anthony Ho..."

We may also negate an index

In [106]:
movies[~(movies.duration > 120)]

,star_rating,title,content_rating,genre,duration,actors_list
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
...,...,...,...,...,...,...
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."

## Exercise

1. Sort the `titanic` dataframe in the decreasing order of the fare price
2. Create a new dataframe `titanic_f` containing only information on female passengers
3. Create a new dataframe `titanic_x` containing only young passenges (age < 18) who did not embark in Cork.

In [115]:
titanic.sort_values("Fare", ascending = False)
titanic[titanic.Sex == "female"]
titanic[(titanic.Age < 18) & (titanic.Embarked != "C")]

,PassengerId,Survived,Pclass,Lname,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,Palsson,Master. Gosta Leonard,male,2.00,3,1,349909,21.0750,NaN,S
10,11,1,3,Sandstrom,Miss. Marguerite Rut,female,4.00,1,1,PP 9549,16.7000,G6,S
14,15,0,3,Vestrom,Miss. Hulda Amanda Adolfina,female,14.00,0,0,350406,7.8542,NaN,S
16,17,0,3,Rice,Master. Eugene,male,2.00,4,1,382652,29.1250,NaN,Q
22,23,1,3,McGowan,Miss. Anna,female,15.00,0,0,330923,8.0292,NaN,Q
24,25,0,3,Palsson,Miss. Torborg Danira,female,8.00,3,1,349909,21.0750,NaN,S
50,51,0,3,Panula,Master. Juha Niilo,male,7.00,4,1,3101295,39.6875,NaN,S
58,59,1,2,West,Miss. Constance Mirium,female,5.00,1,2,C.A. 34651,27.7500,NaN,S
59,60,0,3,Goodwin,Master. William Frederick,male,11.00,5,2,CA 2144,46.9000,NaN,S
63,64,0,3,Skoog,Master. Harald,male,4.00,3,2,347088,27.9000,NaN,S
68,69,1,3,Andersson,Miss. Erna Alexandra,female,17.00,4,2,3101281,7.9250,NaN,S
71,72,0,3,Goodwin,Miss. Lillian Amy,female,16.00,5,2,CA 2144,46.9000,NaN,S
78,79,1,2,Caldwell,Master. Alden Gates,male,0.83,0,2,248738,29.0000,NaN,S
84,85,1,2,Ilett,Miss. Bertha,female,17.00,0,0,SO/C 14885,10.5000,NaN,S
86,87,0,3,Ford,Mr. William Neal,male,16.00,1,3,W./C. 6608,34.3750,NaN,S
119,120,0,3,Andersson,Miss. Ellis Anna Maria,female,2.00,4,2,347082,31.2750,NaN,S
138,139,0,3,Osen,Mr. Olaf Elon,male,16.00,0,0,7534,9.2167,NaN,S
147,148,0,3,Ford,Miss. Robina Maggie,female,9.00,2,2,W./C. 6608,34.3750,NaN,S

## String methods

`pandas` makes it very easy to use all the string methods on data frame. Just remember to access these methods via the `str` attribute of the series. Method invocations can be easily chained because each method returns a `Series` object.

In [116]:
orders = pd.read_table('https://bit.ly/chiporders')

orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [117]:
orders.item_name

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

In [118]:
orders.item_name.str

In [119]:
orders.item_name.str.upper().str.lower().str.len()

0       28
1        4
2       16
3       37
4       12
        ..
4617    13
4618    13
4619    18
4620    18
4621    18
Name: item_name, Length: 4622, dtype: int64

In [120]:
orders.item_name.str.replace('Tomato','Pomodoro').str.lower().str.split()

0              [chips, and, fresh, pomodoro, salsa]
1                                            [izze]
2                               [nantucket, nectar]
3       [chips, and, tomatillo-green, chili, salsa]
4                                   [chicken, bowl]
                           ...
4617                               [steak, burrito]
4618                               [steak, burrito]
4619                         [chicken, salad, bowl]
4620                         [chicken, salad, bowl]
4621                         [chicken, salad, bowl]
Name: item_name, Length: 4622, dtype: object

## Exercise

1. Create a list of names of passengers consisting of the title (Mr., Miss., Mrs.) and the last name.
2. Create a list of names of passengers consisting of the first initial and the last name

In [124]:
"Mr." + titanic.Lname.str

TypeError: can only concatenate str (not "StringMethods") to str

## Changing data type of a series

All elements in a `Series` object must have the same type. It is possible to cast the entire series to a new type using the builtin `Series.astype()` function. This can be done either during data reading, or after the data frame has been created.

In [182]:
orders.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [183]:
orders.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [184]:
orders.order_id.astype(float)

0          1.0
1          1.0
2          1.0
3          1.0
4          2.0
         ...
4617    1833.0
4618    1833.0
4619    1834.0
4620    1834.0
4621    1834.0
Name: order_id, Length: 4622, dtype: float64

In [185]:
orders = pd.read_table('https://bit.ly/chiporders', dtype={'quantity': float})

orders.dtypes

order_id                int64
quantity              float64
item_name              object
choice_description     object
item_price             object
dtype: object

If we want to convert `item_price` to a number, we have to first remove the dollar sign from the string representation of the series, and then cast the entire series.

In [186]:
orders['item_price'] = orders.item_price.str.replace('$','').astype(float)

In [187]:
orders.dtypes

order_id                int64
quantity              float64
item_name              object
choice_description     object
item_price            float64
dtype: object

## Group by

`Pandas` offers a very broad range of methods for advanced data processing. A common operation is to create aggregates of the table based on the grouping of data on a column. This can be easily achieved using a single function call.

In [188]:
drinks = pd.read_csv('https://bit.ly/drinksbycountry')

drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [219]:
drinks.loc[:, drinks.columns[1:5]].mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [227]:
drinks.groupby('continent')

In [ ]:
drinks.groupby('continent').beer_servings.mean()

In [ ]:
drinks.groupby('continent').std()

We can apply several aggregate functions to a grouped data frame using the `agg()` function

In [ ]:
drinks.groupby('continent').agg(['mean', 'min', 'max', 'count'])

The results of the group by operation can be quickly visualized.

In [ ]:
%matplotlib inline

drinks.groupby('continent').mean().plot(kind='bar')

## Exercise

1. Compute the number of passengers and the average ticket fare based on the port of embarkment
2. Compare the number of female and male passengers who have survived the sinking
3. Compare the mean age of passengers who survived the sinking with the mean age of passengers who have died

## Exploring the data frame

Here we list some useful functions to run after reading the data to get some better understanding of the data.

In [ ]:
movies = pd.read_csv('https://bit.ly/imdbratings')

movies.head()

In [ ]:
movies.star_rating.describe()

In [ ]:
movies.genre.describe()

In [ ]:
movies.genre.value_counts()

In [ ]:
movies.genre.value_counts(normalize=True)

Since the result of the `value_counts()` function is a `Series` object, we can process it further.

In [ ]:
movies.genre.value_counts(normalize=True).plot(kind='bar')

In [ ]:
movies.duration.plot(kind='hist')

In [ ]:
movies.genre.unique()

In [ ]:
genres = movies.genre.unique()

for g in genres:
    df = movies[movies.genre == g]
    ...

A useful method allows you to quickly create pivot tables from series objects.

In [ ]:
genres = movies.genre
ratings = movies.content_rating

In [ ]:
genres

In [ ]:
ratings

In [ ]:
pd.crosstab(genres, ratings)

## Handling missing values

When working with a data frame, we must be careful when the data contains missing values. Two functions are very useful when working with missing values:
- `isnull()`: returns `True` if a value is missing
- `dropna()`: allows to remove rows and/or columns with missing values

In [ ]:
ufo = pd.read_csv('https://bit.ly/uforeports')

ufo.head()

In [ ]:
ufo['Colors Reported'].isnull()

In [ ]:
ufo['Colors Reported'].isnull().sum()

In [ ]:
ufo.isnull().sum()

In [ ]:
ufo.shape

In [ ]:
ufo.dropna(how='all', axis=0, subset=['City', 'Colors Reported']) # all, subset

## Exercise

1. Remove from the `titanic` dataframe records which do not have the age of the passenger registered
2. Compute the number of missing cabin numbers for each class of passengers

## What is an index?

An `Index` is a special type that can be used to access rows and columns. There are three main uses for an index:
- identification of rows/columns
- selection of rows/columns
- alignment of rows

In [155]:
drinks = pd.read_csv('https://bit.ly/drinksbycountry')

drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [156]:
drinks.set_index('country', inplace=True)

drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

Notice that the index of a data frame is inherited by all series.

In [157]:
drinks.continent.head()

country
Afghanistan      Asia
Albania        Europe
Algeria        Africa
Andorra        Europe
Angola         Africa
Name: continent, dtype: object

In [158]:
drinks.continent.value_counts().values

array([53, 45, 44, 23, 16, 12])

In [159]:
drinks.continent.value_counts().index

Index(['Africa', 'Europe', 'Asia', 'North America', 'Oceania',
       'South America'],
      dtype='object', name='continent')

Index is very useful to select both rows and columns. All you need to remember is that `pd.loc` function expects you to provide index entries for rows and columns that you want to retrieve.

In [160]:
drinks.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,Asia
Albania,89,132,54,4.9,Europe
Algeria,25,0,14,0.7,Africa
Andorra,245,138,312,12.4,Europe
Angola,217,57,45,5.9,Africa

In [161]:
drinks.loc['Poland', :]

beer_servings                      343
spirit_servings                    215
wine_servings                       56
total_litres_of_pure_alcohol      10.9
continent                       Europe
Name: Poland, dtype: object

In [162]:
drinks.loc['Gabon':'Guyana', 'beer_servings']

country
Gabon            347
Gambia             8
Georgia           52
Germany          346
Ghana             31
Greece           133
Grenada          199
Guatemala         53
Guinea             9
Guinea-Bissau     28
Guyana            93
Name: beer_servings, dtype: int64

In [163]:
drinks.columns

Index(['beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

In [164]:
drinks.loc[['Poland', 'Germany', 'France'], 'beer_servings':'wine_servings']

         beer_servings  spirit_servings  wine_servings
country
Poland             343              215             56
Germany            346              117            175
France             127              151            370

Let's create a `Series` object with an index that can be aligned with our `drinks` data frame.

In [165]:
population = pd.Series([4000000, 38000000, 80000000, 70000000], 
                       index=['Albania', 'Poland', 'Germany', 'France'], 
                       name='population')

population

Albania     4000000
Poland     38000000
Germany    80000000
France     70000000
Name: population, dtype: int64

In [166]:
drinks.loc[['Albania', 'Poland', 'Germany', 'France', 'Greece']].beer_servings * population

Albania    3.560000e+08
France     8.890000e+09
Germany    2.768000e+10
Greece              NaN
Poland     1.303400e+10
dtype: float64

In [167]:
pd.concat([drinks, population], axis=1)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,population
Afghanistan,0,0,0,0.0,Asia,NaN
Albania,89,132,54,4.9,Europe,4000000.0
Algeria,25,0,14,0.7,Africa,NaN
Andorra,245,138,312,12.4,Europe,NaN
Angola,217,57,45,5.9,Africa,NaN
...,...,...,...,...,...,...
Venezuela,333,100,3,7.7,South America,NaN
Vietnam,111,2,1,2.0,Asia,NaN
Yemen,6,0,0,0.1,Asia,NaN
Zambia,32,19,4,2.5,Africa,NaN
Zimbabwe,64,18,4,4.7,Africa,NaN

You can always revert to a default "row number" index and move the index column to the column list.

In [168]:
drinks.reset_index(inplace=True)

drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

## Indexing with `loc`, `iloc`, and `ix`

This is quite confusing. Try to remember the following rules:
- `loc` uses row/column indexes (aka labels), the ranges are **inclusive**
- `iloc` uses integer positions on the list of rows and columns, the ranges are **exclusive**
- `ix` was an old way of indexing a dataframe allowing to use both labels and integer positions, it is deprecated

In [169]:
ufo = pd.read_csv('https://bit.ly/uforeports')

ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [197]:
ufo.loc[0:3, :]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3      Abilene             NaN           DISK    KS   6/1/1931 13:00

In [171]:
ufo.loc[[0,2,4], 'City':'State']

                   City Colors Reported Shape Reported State
0                Ithaca             NaN       TRIANGLE    NY
2               Holyoke             NaN           OVAL    CO
4  New York Worlds Fair             NaN          LIGHT    NY

In [172]:
ufo.iloc[0:3, 1:3]

  Colors Reported Shape Reported
0             NaN       TRIANGLE
1             NaN          OTHER
2             NaN           OVAL

## Categories and ordered categories

For certain types of columns the data frame can be optimized by switching the type of a column (especially a column used in selection or grouping) into a category type.

In [173]:
drinks = pd.read_csv('https://bit.ly/drinksbycountry')

drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [174]:
drinks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [175]:
drinks.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     193 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 30.5 KB

In [176]:
drinks.continent.memory_usage(deep=True)

12464

In [177]:
drinks.continent

0               Asia
1             Europe
2             Africa
3             Europe
4             Africa
           ...
188    South America
189             Asia
190             Asia
191           Africa
192           Africa
Name: continent, Length: 193, dtype: object

In [178]:
drinks.continent = drinks.continent.astype('category')

drinks.continent.memory_usage(deep=True)

888

In [179]:
drinks.continent

0               Asia
1             Europe
2             Africa
3             Europe
4             Africa
           ...
188    South America
189             Asia
190             Asia
191           Africa
192           Africa
Name: continent, Length: 193, dtype: category
Categories (6, object): ['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

You can perform various operations on a category, just remember to access it via `cat` property.

In [180]:
drinks.continent.cat.codes

0      1
1      2
2      0
3      2
4      0
      ..
188    5
189    1
190    1
191    0
192    0
Length: 193, dtype: int8

In [181]:
drinks.continent.cat.as_ordered()

0               Asia
1             Europe
2             Africa
3             Europe
4             Africa
           ...
188    South America
189             Asia
190             Asia
191           Africa
192           Africa
Name: continent, Length: 193, dtype: category
Categories (6, object): ['Africa' < 'Asia' < 'Europe' < 'North America' < 'Oceania' < 'South America']

Ordered category can be used to allow for logical sorting of rows.

In [ ]:
df = pd.DataFrame({
    'name': ['Mount Everest', 'Kilimanjaro', 'Rysy'],
    'height': ['very high', 'high', 'low']
})

df

In [ ]:
df.sort_values('height')

In [ ]:
from pandas.api.types import CategoricalDtype

heights = CategoricalDtype(categories=['low', 'high', 'very high'], ordered=True)

df['height'] = df.height.astype(heights)

In [ ]:
df.sort_values('height')

## Exercise

1. Change the index of the `titanic` dataframe to the ticket number
2. Change the `Pclass` attribute into a category.

## Creating binary variables from categorical columns

Often in data mining we want to binarize categorical features. One of the most common encodings is the dummy encoding, where a feature with `n` values is turned into `n-1` binary columns

In [125]:
ufo = pd.read_csv('https://bit.ly/uforeports')

ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [126]:
ufo.State.map({'NY': 'New York', 'NJ': 'New Jersey', 'CO': 'Colorado'})

0          New York
1        New Jersey
2          Colorado
3               NaN
4          New York
            ...
18236           NaN
18237           NaN
18238           NaN
18239           NaN
18240           NaN
Name: State, Length: 18241, dtype: object

In [127]:
pd.get_dummies(ufo.State)

,AK,AL,AR,AZ,CA,CO,CT,Ca,DE,FL,...,SD,TN,TX,UT,VA,VT,WA,WI,WV,WY
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18236,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18237,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18238,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
18239,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
18240,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [129]:
pd.get_dummies(ufo.State, prefix='state')

,state_AK,state_AL,state_AR,state_AZ,state_CA,state_CO,state_CT,state_Ca,state_DE,state_FL,...,state_SD,state_TN,state_TX,state_UT,state_VA,state_VT,state_WA,state_WI,state_WV,state_WY
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18236,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18237,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18238,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
18239,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
18240,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [130]:
pd.get_dummies(ufo.State, prefix='state').sum(axis=0)

state_AK     116
state_AL     193
state_AR     206
state_AZ     738
state_CA    2529
state_CO     367
state_CT     225
state_Ca       1
state_DE      43
state_FL     837
state_Fl       4
state_GA     325
state_HI      85
state_IA     162
state_ID     130
state_IL     613
state_IN     326
state_KS     176
state_KY     244
state_LA     174
state_MA     322
state_MD     215
state_ME     181
state_MI     591
state_MN     254
state_MO     448
state_MS     139
state_MT     144
state_NC     356
state_ND      51
state_NE     101
state_NH     125
state_NJ     370
state_NM     241
state_NV     284
state_NY     914
state_OH     667
state_OK     193
state_OR     534
state_PA     598
state_RI      67
state_SC     166
state_SD      57
state_TN     286
state_TX    1027
state_UT     193
state_VA     299
state_VT      44
state_WA    1322
state_WI     357
state_WV     132
state_WY      69
dtype: int64

In [131]:
pd.get_dummies(ufo.State, prefix='state').sum(axis=1)

0        1
1        1
2        1
3        1
4        1
        ..
18236    1
18237    1
18238    1
18239    1
18240    1
Length: 18241, dtype: int64

In [132]:
df = pd.DataFrame({'gender': ['M', 'F', 'F', 'M', 'F', 'M', 'N', 'N']})
df

  gender
0      M
1      F
2      F
3      M
4      F
5      M
6      N
7      N

In [133]:
pd.get_dummies(df.gender)

       F      M      N
0  False   True  False
1   True  False  False
2   True  False  False
3  False   True  False
4   True  False  False
5  False   True  False
6  False  False   True
7  False  False   True

In [134]:
pd.get_dummies(df.gender, drop_first=True)

       M      N
0   True  False
1  False  False
2  False  False
3   True  False
4  False  False
5   True  False
6  False   True
7  False   True

## Display options 

The way `pandas` dataframes are displayed insied a notebook can be modified by accessing display options. Two functions are handy for that:
- `get_option()`: check the current setting
- `set_option()`: modify the current setting

Let's change the following settings:
- the number of rows displayed
- the precision of floats
- the maximum width of a column

In [135]:
movies = pd.read_csv('https://bit.ly/imdbratings')

movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [136]:
pd.set_option('display.max_rows', None)
pd.set_option('display.precision', 0)
pd.set_option('display.max_colwidth', 25)

In [138]:
movies

,star_rating,title,content_rating,genre,duration,actors_list
0,9,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Mo..."
1,9,The Godfather,R,Crime,175,"[u'Marlon Brando', u'..."
2,9,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robe..."
3,9,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u..."
4,9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'..."
5,9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Le..."
6,9,"The Good, the Bad and...",NOT RATED,Western,161,"[u'Clint Eastwood', u..."
7,9,The Lord of the Rings...,PG-13,Adventure,201,"[u'Elijah Wood', u'Vi..."
8,9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ra..."
9,9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edwa..."
10,9,The Lord of the Rings...,PG-13,Adventure,178,"[u'Elijah Wood', u'Ia..."
11,9,Inception,PG-13,Action,148,[u'Leonardo DiCaprio'...
12,9,Star Wars: Episode V ...,PG,Action,124,"[u'Mark Hamill', u'Ha..."
13,9,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robi..."
14,9,The Lord of the Rings...,PG-13,Adventure,179,"[u'Elijah Wood', u'Ia..."
15,9,Interstellar,PG-13,Adventure,169,[u'Matthew McConaughe...
16,9,One Flew Over the Cuc...,R,Drama,133,"[u'Jack Nicholson', u..."
17,9,Seven Samurai,UNRATED,Drama,207,[u'Toshir\xf4 Mifune'...
18,9,Goodfellas,R,Biography,146,"[u'Robert De Niro', u..."
19,9,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Ha..."
20,9,The Matrix,R,Action,136,"[u'Keanu Reeves', u'L..."
21,9,City of God,R,Crime,130,[u'Alexandre Rodrigue...
22,9,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'..."
23,9,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'G..."
24,9,Se7en,R,Drama,127,"[u'Morgan Freeman', u..."
25,9,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', ..."
26,9,Once Upon a Time in t...,PG-13,Western,175,"[u'Henry Fonda', u'Ch..."
27,9,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'A..."
28,9,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary..."
29,9,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', ..."
30,9,Spirited Away,PG,Animation,125,"[u'Daveigh Chase', u'..."
31,9,The Intouchables,R,Biography,112,[u'Fran\xe7ois Cluzet...
32,9,Casablanca,PG,Drama,102,"[u'Humphrey Bogart', ..."
33,9,Whiplash,R,Drama,107,"[u'Miles Teller', u'J..."
34,9,American History X,R,Crime,119,"[u'Edward Norton', u'..."
35,9,Modern Times,G,Comedy,87,"[u'Charles Chaplin', ..."
36,9,Saving Private Ryan,R,Action,169,"[u'Tom Hanks', u'Matt..."
37,9,Raiders of the Lost Ark,PG,Action,115,"[u'Harrison Ford', u'..."
38,9,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'..."
39,9,Psycho,R,Horror,109,"[u'Anthony Perkins', ..."
40,8,The Green Mile,R,Crime,189,"[u'Tom Hanks', u'Mich..."
41,8,Sunset Blvd.,NOT RATED,Drama,110,"[u'William Holden', u..."
42,8,The Pianist,R,Biography,150,"[u'Adrien Brody', u'T..."
43,8,The Dark Knight Rises,PG-13,Action,165,"[u'Christian Bale', u..."
44,8,Gladiator,R,Action,155,"[u'Russell Crowe', u'..."
45,8,Terminator 2: Judgmen...,R,Action,137,[u'Arnold Schwarzeneg...
46,8,Memento,R,Mystery,113,"[u'Guy Pearce', u'Car..."
47,8,Taare Zameen Par,PG,Drama,165,"[u'Darsheel Safary', ..."
48,8,Dr. Strangelove or: H...,PG,Comedy,95,"[u'Peter Sellers', u'..."
49,8,The Departed,R,Crime,151,[u'Leonardo DiCaprio'...
50,8,Cinema Paradiso,R,Drama,155,"[u'Philippe Noiret', ..."
51,8,Apocalypse Now,R,Drama,153,"[u'Martin Sheen', u'M..."
52,8,The Great Dictator,APPROVED,Comedy,125,"[u'Charles Chaplin', ..."
53,8,The Prestige,PG-13,Drama,130,"[u'Christian Bale', u..."
54,8,Back to the Future,PG,Adventure,116,"[u'Michael J. Fox', u..."
55,8,The Lion King,G,Animation,89,[u'Matthew Broderick'...
56,8,The Lives of Others,R,Drama,137,"[u'Ulrich M\xfche', u..."
57,8,Alien,R,Horror,117,"[u'Sigourney Weaver',..."
58,8,Paths of Glory,APPROVED,Drama,88,"[u'Kirk Douglas', u'R..."
59,8,Django Unchained,R,Western,165,"[u'Jamie Foxx', u'Chr..."
60,8,3 Idiots,PG-13,Comedy,170,"[u'Aamir Khan', u'Mad..."
61,8,Grave of the Fireflies,UNRATED,Animation,89,"[u'Tsutomu Tatsumi', ..."
62,8,The Shining,R,Horror,146,"[u'Jack Nicholson', u..."
63,8,M,NOT RATED,Crime,99,"[u'Peter Lorre', u'El..."
64,8,WALL-E,G,Animation,98,"[u'Ben Burtt', u'Elis..."
65,8,Witness for the Prose...,APPROVED,Crime,116,"[u'Tyrone Power', u'M..."
66,8,Munna Bhai M.B.B.S.,NOT RATED,Comedy,156,"[u'Sunil Dutt', u'San..."
67,8,American Beauty,R,Drama,122,"[u'Kevin Spacey', u'A..."
68,8,Das Boot,R,Adventure,149,[u'J\xfcrgen Prochnow...
69,8,Princess Mononoke,PG-13,Animation,134,"[u'Y\xf4ji Matsuda', ..."
70,8,Amelie,R,Comedy,122,"[u'Audrey Tautou', u'..."
71,8,North by Northwest,APPROVED,Adventure,136,"[u'Cary Grant', u'Eva..."
72,8,Rang De Basanti,NOT RATED,Drama,157,"[u'Aamir Khan', u'Soh..."
73,8,Jodaeiye Nader az Simin,PG-13,Drama,123,"[u'Peyman Moaadi', u'..."
74,8,Citizen Kane,APPROVED,Drama,119,"[u'Orson Welles', u'J..."
75,8,Aliens,R,Action,137,"[u'Sigourney Weaver',..."
76,8,Vertigo,APPROVED,Mystery,128,"[u'James Stewart', u'..."
77,8,Oldeuboi,R,Drama,120,"[u'Min-sik Choi', u'J..."
78,8,Once Upon a Time in A...,R,Crime,229,"[u'Robert De Niro', u..."
79,8,Double Indemnity,PASSED,Crime,107,"[u'Fred MacMurray', u..."
80,8,Star Wars: Episode VI...,PG,Action,134,"[u'Mark Hamill', u'Ha..."
81,8,Toy Story 3,G,Animation,103,"[u'Tom Hanks', u'Tim ..."
82,8,Braveheart,R,Action,177,"[u'Mel Gibson', u'Sop..."
83,8,To Kill a Mockingbird,NOT RATED,Drama,129,"[u'Gregory Peck', u'J..."
84,8,Requiem for a Dream,R,Drama,102,"[u'Ellen Burstyn', u'..."
85,8,Lawrence of Arabia,PG,Adventure,216,"[u""Peter O'Toole"", u'..."
86,8,A Clockwork Orange,X,Crime,136,"[u'Malcolm McDowell',..."
87,8,Bicycle Thieves,NOT RATED,Drama,93,[u'Lamberto Maggioran...
88,8,The Kid,NOT RATED,Comedy,68,"[u'Charles Chaplin', ..."
89,8,Swades,NOT RATED,Drama,189,"[u'Shah Rukh Khan', u..."
90,8,Reservoir Dogs,R,Crime,99,"[u'Harvey Keitel', u'..."
91,8,Eternal Sunshine of t...,R,Drama,108,"[u'Jim Carrey', u'Kat..."
92,8,Taxi Driver,R,Crime,113,"[u'Robert De Niro', u..."
93,8,Dilwale Dulhania Le J...,NOT RATED,Comedy,181,"[u'Shah Rukh Khan', u..."
94,8,Singin' in the Rain,APPROVED,Comedy,103,"[u'Gene Kelly', u""Don..."
95,8,All About Eve,APPROVED,Drama,138,"[u'Bette Davis', u'An..."
96,8,Yojimbo,UNRATED,Action,110,[u'Toshir\xf4 Mifune'...
97,8,The Sting,PG,Comedy,129,"[u'Paul Newman', u'Ro..."
98,8,Rashomon,UNRATED,Crime,88,[u'Toshir\xf4 Mifune'...
99,8,Amadeus,R,Biography,160,[u'F. Murray Abraham'...
100,8,The Treasure of the S...,NOT RATED,Action,126,"[u'Humphrey Bogart', ..."
101,8,Monty Python and the ...,PG,Adventure,91,"[u'Graham Chapman', u..."
102,8,Full Metal Jacket,R,Drama,116,"[u'Matthew Modine', u..."
103,8,The Apartment,APPROVED,Comedy,125,"[u'Jack Lemmon', u'Sh..."
104,8,Ikiru,NOT RATED,Drama,143,"[u'Takashi Shimura', ..."
105,8,The Third Man,NOT RATED,Film-Noir,93,"[u'Orson Welles', u'J..."
106,8,Snatch.,R,Comedy,102,"[u'Jason Statham', u'..."
107,8,For a Few Dollars More,APPROVED,Western,132,"[u'Clint Eastwood', u..."
108,8,Metropolis,NOT RATED,Drama,153,"[u'Brigitte Helm', u'..."
109,8,Dil Chahta Hai,NOT RATED,Comedy,183,"[u'Aamir Khan', u'Sai..."
110,8,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Ga..."
111,8,Some Like It Hot,NOT RATED,Comedy,120,"[u'Marilyn Monroe', u..."
112,8,L.A. Confidential,R,Crime,138,"[u'Kevin Spacey', u'R..."
113,8,Batman Begins,PG-13,Action,140,"[u'Christian Bale', u..."
114,8,Inglourious Basterds,R,Adventure,153,"[u'Brad Pitt', u'Dian..."
115,8,Scarface,R,Crime,170,"[u'Al Pacino', u'Mich..."
116,8,Mr. Smith Goes to Was...,NOT RATED,Drama,129,"[u'James Stewart', u'..."
117,8,Toy Story,G,Animation,81,"[u'Tom Hanks', u'Tim ..."
118,8,Indiana Jones and the...,PG-13,Action,127,"[u'Harrison Ford', u'..."
119,8,Unforgiven,R,Western,131,"[u'Clint Eastwood', u..."
120,8,The Great Escape,UNRATED,Adventure,172,"[u'Steve McQueen', u'..."
121,8,Jagten,R,Drama,115,"[u'Mads Mikkelsen', u..."
122,8,On the Waterfront,NOT RATED,Crime,108,"[u'Marlon Brando', u'..."
123,8,The General,UNRATED,Action,107,"[u'Buster Keaton', u'..."
124,8,Raging Bull,R,Biography,129,"[u'Robert De Niro', u..."
125,8,Downfall,R,Biography,156,"[u'Bruno Ganz', u'Ale..."
126,8,Up,PG,Animation,96,"[u'Edward Asner', u'J..."
127,8,Wild Strawberries,UNRATED,Drama,91,[u'Victor Sj\xf6str\x...
128,8,The Gold Rush,NOT RATED,Adventure,95,"[u'Charles Chaplin', ..."
129,8,Ran,R,Action,162,"[u'Tatsuya Nakadai', ..."
130,8,Chinatown,R,Drama,130,"[u'Jack Nicholson', u..."
131,8,My Neighbor Totoro,G,Animation,86,"[u'Hitoshi Takagi', u..."
132,8,Judgment at Nuremberg,NOT RATED,Drama,186,"[u'Spencer Tracy', u'..."
133,8,Barfi!,NOT RATED,Adventure,151,"[u'Ranbir Kapoor', u'..."
134,8,The Seventh Seal,NOT RATED,Drama,96,"[u'Max von Sydow', u'..."
135,8,Heat,R,Action,170,"[u'Al Pacino', u'Robe..."
136,8,Pan's Labyrinth,R,Drama,118,"[u'Ivana Baquero', u'..."
137,8,The Bridge on the Riv...,PG,Adventure,161,"[u'William Holden', u..."
138,8,Die Hard,R,Action,131,"[u'Bruce Willis', u'A..."
139,8,Good Will Hunting,R,Drama,126,"[u'Robin Williams', u..."
140,8,The Wages of Fear,NOT RATED,Adventure,131,"[u'Yves Montand', u'C..."
141,8,The Secret in Their Eyes,R,Drama,129,"[u'Ricardo Dar\xedn',..."
142,8,Lagaan: Once Upon a T...,PG,Adventure,224,"[u'Aamir Khan', u'Gra..."
143,8,The Wolf of Wall Street,R,Biography,180,[u'Leonardo DiCaprio'...
144,8,It Happened One Night,UNRATED,Comedy,105,"[u'Clark Gable', u'Cl..."
145,8,Blade Runner,R,Sci-Fi,117,"[u'Harrison Ford', u'..."
146,8,Warrior,PG-13,Drama,140,"[u'Tom Hardy', u'Nick..."
147,8,Howl's Moving Castle,PG,Animation,119,"[u'Chieko Baish\xf4',..."
148,8,The Elephant Man,PG,Biography,124,"[u'Anthony Hopkins', ..."
149,8,Rebecca,NOT RATED,Mystery,130,"[u'Laurence Olivier',..."
150,8,Incendies,R,Drama,139,"[u'Lubna Azabal', u'M..."
151,8,"Lock, Stock and Two S...",R,Comedy,107,"[u'Jason Flemyng', u'..."
152,8,V for Vendetta,R,Action,132,"[u'Hugo Weaving', u'N..."
153,8,The Big Lebowski,R,Comedy,117,"[u'Jeff Bridges', u'J..."
154,8,Cool Hand Luke,PG,Crime,126,"[u'Paul Newman', u'Ge..."
155,8,Relatos salvajes,R,Comedy,122,[u'Dar\xedo Grandinet...
156,8,Casino,R,Biography,178,"[u'Robert De Niro', u..."
157,8,Gone with the Wind,G,Drama,238,"[u'Clark Gable', u'Vi..."
158,8,Gone Girl,R,Drama,149,"[u'Ben Affleck', u'Ro..."
159,8,The Best Years of Our...,PASSED,Drama,172,"[u'Fredric March', u'..."
160,8,How to Train Your Dragon,PG,Animation,98,"[u'Jay Baruchel', u'G..."
161,8,Diabolique,UNRATED,Horror,116,"[u'Simone Signoret', ..."
162,8,Gran Torino,R,Drama,116,"[u'Clint Eastwood', u..."
163,8,Rush,R,Action,123,"[u'Daniel Br\xfchl', ..."
164,8,Into the Wild,R,Adventure,148,"[u'Emile Hirsch', u'V..."
165,8,My Sassy Girl,NOT RATED,Comedy,123,"[u'Tae-hyun Cha', u'G..."
166,8,The Deer Hunter,R,Drama,182,"[u'Robert De Niro', u..."
167,8,Mary and Max,NOT RATED,Animation,92,"[u'Toni Collette', u'..."
168,8,Hachi: A Dog's Tale,G,Drama,93,"[u'Richard Gere', u'J..."
169,8,The Maltese Falcon,NOT RATED,Crime,100,"[u'Humphrey Bogart', ..."
170,8,A Beautiful Mind,PG-13,Biography,135,"[u'Russell Crowe', u'..."
171,8,Dial M for Murder,PG,Crime,105,"[u'Ray Milland', u'Gr..."
172,8,Trainspotting,R,Drama,94,"[u'Ewan McGregor', u'..."
173,8,Tae Guk Gi: The Broth...,R,Action,140,"[u'Dong-gun Jang', u'..."
174,8,Persona,NOT RATED,Drama,83,"[u'Bibi Andersson', u..."
175,8,Touch of Evil,PG-13,Crime,95,"[u'Charlton Heston', ..."
176,8,Fargo,R,Crime,98,"[u'William H. Macy', ..."
177,8,The Avengers,PG-13,Action,143,[u'Robert Downey Jr.'...
178,8,The 400 Blows,NOT RATED,Crime,99,[u'Jean-Pierre L\xe9a...
179,8,The Princess Bride,PG,Adventure,98,"[u'Cary Elwes', u'Man..."
180,8,Hotel Rwanda,PG-13,Drama,121,"[u'Don Cheadle', u'So..."
181,8,Stalker,NOT RATED,Drama,163,"[u'Alisa Freyndlikh',..."
182,8,The Battle of Algiers,NOT RATED,Crime,121,"[u'Brahim Hadjadj', u..."
183,8,Underground,NOT RATED,Comedy,167,[u'Predrag Manojlovic...
184,8,Fanny and Alexander,R,Drama,188,"[u'Bertil Guve', u'Pe..."
185,8,Network,R,Drama,121,"[u'Faye Dunaway', u'W..."
186,8,The Thing,R,Horror,109,"[u'Kurt Russell', u'W..."
187,8,Butch Cassidy and the...,NaN,Biography,110,"[u'Paul Newman', u'Ro..."
188,8,The Grapes of Wrath,NOT RATED,Drama,129,"[u'Henry Fonda', u'Ja..."
189,8,"Black Cat, White Cat",R,Comedy,127,"[u'Bajram Severdzan',..."
190,8,Life of Brian,R,Comedy,94,"[u'Graham Chapman', u..."
191,8,The Sixth Sense,PG-13,Drama,107,"[u'Bruce Willis', u'H..."
192,8,Finding Nemo,G,Animation,100,"[u'Albert Brooks', u'..."
193,8,Nausicaa of the Valle...,PG,Animation,117,"[u'Sumi Shimamoto', u..."
194,8,Kingsman: The Secret ...,R,Action,129,"[u'Colin Firth', u'Ta..."
195,8,Platoon,R,Drama,120,"[u'Charlie Sheen', u'..."
196,8,Guardians of the Galaxy,PG-13,Action,121,"[u'Chris Pratt', u'Vi..."
197,8,In the Name of the Fa...,R,Biography,133,"[u'Daniel Day-Lewis',..."
198,8,Kill Bill: Vol. 1,R,Action,111,"[u'Uma Thurman', u'Da..."
199,8,No Country for Old Men,R,Crime,122,"[u'Tommy Lee Jones', ..."
200,8,Le Samourai,PG,Crime,101,"[u'Alain Delon', u'Na..."
201,8,12 Years a Slave,R,Biography,134,"[u'Chiwetel Ejiofor',..."
202,8,La leggenda del piani...,R,Drama,165,"[u'Tim Roth', u'Pruit..."
203,8,8 1/2,NOT RATED,Drama,138,[u'Marcello Mastroian...
204,8,Ben-Hur,G,Adventure,212,"[u'Charlton Heston', ..."
205,8,Amores Perros,R,Drama,154,[u'Emilio Echevarr\xe...
206,8,Stand by Me,R,Adventure,89,"[u'Wil Wheaton', u'Ri..."
207,8,What Ever Happened to...,APPROVED,Drama,134,"[u'Bette Davis', u'Jo..."
208,8,Annie Hall,PG,Comedy,93,"[u'Woody Allen', u'Di..."
209,8,The Imitation Game,PG-13,Biography,114,[u'Benedict Cumberbat...
210,8,Laura,APPROVED,Film-Noir,88,"[u'Gene Tierney', u'D..."
211,8,Departures,PG-13,Drama,130,"[u'Masahiro Motoki', ..."
212,8,Infernal Affairs,R,Crime,101,"[u'Andy Lau', u'Tony ..."
213,8,There Will Be Blood,R,Drama,158,"[u'Daniel Day-Lewis',..."
214,8,The Grand Budapest Hotel,R,Adventure,99,"[u'Ralph Fiennes', u'..."
215,8,La Strada,NOT RATED,Drama,108,"[u'Anthony Quinn', u'..."
216,8,Sin City,R,Crime,124,"[u'Mickey Rourke', u'..."
217,8,Memories of Murder,UNRATED,Crime,132,"[u'Kang-ho Song', u'S..."
218,8,Donnie Darko,R,Drama,113,"[u'Jake Gyllenhaal', ..."
219,8,Who's Afraid of Virgi...,TV-MA,Drama,131,"[u'Elizabeth Taylor',..."
220,8,Gandhi,PG,Biography,191,"[u'Ben Kingsley', u'J..."
221,8,Solaris,PG,Drama,167,[u'Natalya Bondarchuk...
222,8,Harry Potter and the ...,PG-13,Adventure,130,"[u'Daniel Radcliffe',..."
223,8,"Paris, Texas",R,Drama,147,[u'Harry Dean Stanton...
224,8,The Wizard of Oz,PASSED,Adventure,102,"[u'Judy Garland', u'F..."
225,8,3-Iron,R,Crime,88,"[u'Seung-yeon Lee', u..."
226,8,Boyhood,R,Drama,165,"[u'Ellar Coltrane', u..."
227,8,Million Dollar Baby,PG-13,Drama,132,"[u'Hilary Swank', u'C..."
228,8,The Last Picture Show,R,Drama,118,"[u'Timothy Bottoms', ..."
229,8,Strangers on a Train,APPROVED,Crime,101,"[u'Farley Granger', u..."
230,8,Cat on a Hot Tin Roof,APPROVED,Drama,108,"[u'Elizabeth Taylor',..."
231,8,La Dolce Vita,NOT RATED,Comedy,174,[u'Marcello Mastroian...
232,8,Chungking Express,PG-13,Drama,98,"[u'Brigitte Lin', u'T..."
233,8,The Night of the Hunter,APPROVED,Crime,92,"[u'Robert Mitchum', u..."
234,8,La Haine,NOT RATED,Crime,98,"[u'Vincent Cassel', u..."
235,8,Yip Man,R,Action,106,"[u'Donnie Yen', u'Sim..."
236,8,High Noon,PG,Western,85,"[u'Gary Cooper', u'Gr..."
237,8,Notorious,APPROVED,Drama,101,"[u'Cary Grant', u'Ing..."
238,8,Before Sunrise,R,Drama,105,"[u'Ethan Hawke', u'Ju..."
239,8,Elite Squad: The Enem...,UNRATED,Action,115,"[u'Wagner Moura', u'I..."
240,8,The Bourne Ultimatum,PG-13,Action,115,"[u'Matt Damon', u'\xc..."
241,8,Castle in the Sky,PG,Animation,124,"[u'Anna Paquin', u'Ja..."
242,8,The Celebration,R,Drama,105,"[u'Ulrich Thomsen', u..."
243,8,"Spring, Summer, Fall,...",R,Drama,103,"[u'Ki-duk Kim', u'Yeo..."
244,8,Shutter Island,R,Mystery,138,[u'Leonardo DiCaprio'...
245,8,Barry Lyndon,PG,Adventure,184,"[u""Ryan O'Neal"", u'Ma..."
246,8,Stalag 17,NOT RATED,Comedy,120,"[u'William Holden', u..."
247,8,Three Colors: Red,R,Drama,99,"[u'Ir\xe8ne Jacob', u..."
248,8,X-Men: Days of Future...,PG-13,Action,131,"[u'Patrick Stewart', ..."
249,8,Sleuth,PG,Mystery,138,"[u'Laurence Olivier',..."
250,8,In the Mood for Love,PG,Drama,98,[u'Tony Chiu Wai Leun...
251,8,The Man Who Shot Libe...,APPROVED,Drama,123,"[u'James Stewart', u'..."
252,8,Arsenic and Old Lace,NOT RATED,Comedy,118,"[u'Cary Grant', u'Pri..."
253,8,The Big Sleep,APPROVED,Crime,114,"[u'Humphrey Bogart', ..."
254,8,Roman Holiday,NOT RATED,Comedy,118,"[u'Gregory Peck', u'A..."
255,8,The Philadelphia Story,NOT RATED,Comedy,112,"[u'Cary Grant', u'Kat..."
256,8,Akira,R,Animation,124,"[u'Nozomu Sasaki', u'..."
257,8,Anatomy of a Murder,UNRATED,Crime,160,"[u'James Stewart', u'..."
258,8,The Cabinet of Dr. Ca...,UNRATED,Crime,67,"[u'Werner Krauss', u'..."
259,8,The Help,PG-13,Drama,146,"[u'Emma Stone', u'Vio..."
260,8,The Sea Inside,PG-13,Biography,125,"[u'Javier Bardem', u'..."
261,8,Elite Squad,R,Action,115,"[u'Wagner Moura', u'A..."
262,8,The Hustler,UNRATED,Drama,134,"[u'Paul Newman', u'Ja..."
263,8,Rio Bravo,NOT RATED,Western,141,"[u'John Wayne', u'Dea..."
264,8,Twelve Monkeys,R,Mystery,129,"[u'Bruce Willis', u'M..."
265,8,Harvey,NOT RATED,Comedy,104,"[u'James Stewart', u'..."
266,8,A Christmas Story,PG,Comedy,94,[u'Peter Billingsley'...
267,8,Jaws,PG,Drama,124,"[u'Roy Scheider', u'R..."
268,8,The Raid 2,R,Action,150,"[u'Iko Uwais', u'Yaya..."
269,8,Rocky,PG,Drama,119,[u'Sylvester Stallone...
270,8,Wings of Desire,PG-13,Drama,128,"[u'Bruno Ganz', u'Sol..."
271,8,Pirates of the Caribb...,PG-13,Adventure,143,"[u'Johnny Depp', u'Ge..."
272,8,The Killing,APPROVED,Crime,85,"[u'Sterling Hayden', ..."
273,8,Papillon,R,Biography,151,"[u'Steve McQueen', u'..."
274,8,The King's Speech,R,Biography,118,"[u'Colin Firth', u'Ge..."
275,8,Groundhog Day,PG,Comedy,101,"[u'Bill Murray', u'An..."
276,8,A Fistful of Dollars,R,Action,99,"[u'Clint Eastwood', u..."
277,8,"Monsters, Inc.",G,Animation,92,"[u'Billy Crystal', u'..."
278,8,Dog Day Afternoon,R,Crime,125,"[u'Al Pacino', u'John..."
279,8,The Perks of Being a ...,PG-13,Drama,102,"[u'Logan Lerman', u'E..."
280,8,Young Frankenstein,PG,Comedy,106,"[u'Gene Wilder', u'Ma..."
281,8,The Terminator,R,Action,107,[u'Arnold Schwarzeneg...
282,8,Harold and Maude,GP,Comedy,91,"[u'Ruth Gordon', u'Bu..."
283,8,Before Sunset,R,Drama,80,"[u'Ethan Hawke', u'Ju..."
284,8,A Streetcar Named Desire,PG,Drama,122,"[u'Vivien Leigh', u'M..."
285,8,Bringing Up Baby,APPROVED,Comedy,102,[u'Katharine Hepburn'...
286,8,The Diving Bell and t...,PG-13,Biography,112,"[u'Mathieu Amalric', ..."
287,8,His Girl Friday,APPROVED,Comedy,92,"[u'Cary Grant', u'Ros..."
288,8,Sling Blade,R,Drama,135,[u'Billy Bob Thornton...
289,8,All Quiet on the West...,UNRATED,Drama,136,"[u'Lew Ayres', u'Loui..."
290,8,Prisoners,R,Crime,153,"[u'Hugh Jackman', u'J..."
291,8,The Return,UNRATED,Drama,105,"[u'Vladimir Garin', u..."
292,8,The Manchurian Candidate,APPROVED,Mystery,126,"[u'Frank Sinatra', u'..."
293,8,Duck Soup,PASSED,Comedy,68,"[u'Groucho Marx', u'H..."
294,8,Beauty and the Beast,G,Animation,84,"[u""Paige O'Hara"", u'R..."
295,8,The Truman Show,PG,Drama,103,"[u'Jim Carrey', u'Ed ..."
296,8,The Wild Bunch,R,Action,145,"[u'William Holden', u..."
297,8,Rope,PG,Crime,80,"[u'James Stewart', u'..."
298,8,The Graduate,APPROVED,Comedy,106,"[u'Dustin Hoffman', u..."
299,8,Jurassic Park,PG-13,Adventure,127,"[u'Sam Neill', u'Laur..."
300,8,Dogville,R,Crime,178,"[u'Nicole Kidman', u'..."
301,8,Furious 7,PG-13,Action,137,"[u'Vin Diesel', u'Pau..."
302,8,Patton,GP,Biography,172,"[u'George C. Scott', ..."
303,8,The Nightmare Before ...,PG,Animation,76,"[u'Danny Elfman', u'C..."
304,8,Being There,PG,Comedy,130,"[u'Peter Sellers', u'..."
305,8,Persepolis,PG-13,Animation,96,[u'Chiara Mastroianni...
306,8,This Is Spinal Tap,R,Comedy,82,"[u'Rob Reiner', u'Mic..."
307,8,East of Eden,PG,Drama,115,"[u'James Dean', u'Ray..."
308,8,Pink Floyd The Wall,R,Animation,95,"[u'Bob Geldof', u'Chr..."
309,8,Blood Diamond,R,Adventure,143,[u'Leonardo DiCaprio'...
310,8,Big Fish,PG-13,Adventure,125,"[u'Ewan McGregor', u'..."

In [139]:
pd.reset_option('display.max_rows')
pd.reset_option('display.precision')
pd.reset_option('display.max_colwidth')

## Applying functions to data frame columns

We can easily apply functions to data frame columns on the fly, or create new columns as the result of applying a function to an existing column. We've seen this behavior before. Two of the most common ways to do it are the `map()` function and the `apply()` function.

In [140]:
drinks = pd.read_csv('https://bit.ly/drinksbycountry')

drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [141]:
drinks.country.str.lower()

0      afghanistan
1          albania
2          algeria
3          andorra
4           angola
          ...
188      venezuela
189        vietnam
190          yemen
191         zambia
192       zimbabwe
Name: country, Length: 193, dtype: object

In [142]:
drinks.country.map(len)

0      11
1       7
2       7
3       7
4       6
       ..
188     9
189     7
190     5
191     6
192     8
Name: country, Length: 193, dtype: int64

In [143]:
pd.concat([drinks.country, drinks.country.map(len)], axis=1)

         country  country
0    Afghanistan       11
1        Albania        7
2        Algeria        7
3        Andorra        7
4         Angola        6
..           ...      ...
188    Venezuela        9
189      Vietnam        7
190        Yemen        5
191       Zambia        6
192     Zimbabwe        8

[193 rows x 2 columns]

In [144]:
drinks.apply(max)

country                              Zimbabwe
beer_servings                             376
spirit_servings                           438
wine_servings                             370
total_litres_of_pure_alcohol             14.4
continent                       South America
dtype: object

In [145]:
drinks.apply(max, axis=1)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 3526, in run_code
    A compiled code object, to be executed
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/tmp/ipykernel_3435/72489246.py", line 1, in <module>
    drinks.apply(max, axis=1)
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/pandas/core/frame.py", line 10034, in apply
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/pandas/core/apply.py", line 837, in apply
    )
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/pandas/core/apply.py", line 965, in apply_standard
    )

  File "/home/krzys/miniconda3/lib/python3.11/site-packages/pandas/core/apply.py", line 981, in apply_series_generator
    r = np.nan

TypeError: '>' not supported between instances of 'int' and 'str'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py", line 2120, in showtraceback
    'the full traceback.\n']
               ^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/IPython/core/ultratb.py", line 792, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/stack_data/core.py", line 698, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/stack_data/core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/stack_data/core.py", line 628, in executing_piece
    return only(
           ^^^^^
  File "/home/krzys/miniconda3/lib/python3.11/site-packages/executing/executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [146]:
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=1)

0        0
1      132
2       25
3      312
4      217
      ...
188    333
189    111
190      6
191     32
192     64
Length: 193, dtype: int64

In [147]:
def get_serious_drinkers(total_alcohol: float) -> bool:
    if total_alcohol >= 10.0:
        return True
    else:
        return False

In [148]:
drinks['heavy_drinkers'] = drinks.total_litres_of_pure_alcohol.apply(get_serious_drinkers)

In [149]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,heavy_drinkers
0,Afghanistan,0,0,0,0.0,Asia,False
1,Albania,89,132,54,4.9,Europe,False
2,Algeria,25,0,14,0.7,Africa,False
3,Andorra,245,138,312,12.4,Europe,True
4,Angola,217,57,45,5.9,Africa,False

In [150]:
drinks.total_litres_of_pure_alcohol.apply(lambda x: True if x > 10 else False )

0      False
1      False
2      False
3       True
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Name: total_litres_of_pure_alcohol, Length: 193, dtype: bool

Instead of writing a separate function, many people prefer to use anonymous lambda funciton instead. What you see below is a very common pattern for `pandas` processing.

In [151]:
drinks['country_initial'] = drinks.country.apply(lambda x: x[0])

drinks.head(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,heavy_drinkers,country_initial
0,Afghanistan,0,0,0,0.0,Asia,False,A
1,Albania,89,132,54,4.9,Europe,False,A
2,Algeria,25,0,14,0.7,Africa,False,A
3,Andorra,245,138,312,12.4,Europe,True,A
4,Angola,217,57,45,5.9,Africa,False,A
5,Antigua & Barbuda,102,128,45,4.9,North America,False,A
6,Argentina,193,25,221,8.3,South America,False,A
7,Armenia,21,179,11,3.8,Europe,False,A
8,Australia,261,72,212,10.4,Oceania,True,A
9,Austria,279,75,191,9.7,Europe,False,A
10,Azerbaijan,21,46,5,1.3,Europe,False,A
11,Bahamas,122,176,51,6.3,North America,False,B
12,Bahrain,42,63,7,2.0,Asia,False,B
13,Bangladesh,0,0,0,0.0,Asia,False,B
14,Barbados,143,173,36,6.3,North America,False,B
15,Belarus,142,373,42,14.4,Europe,True,B
16,Belgium,295,84,212,10.5,Europe,True,B
17,Belize,263,114,8,6.8,North America,False,B
18,Benin,34,4,13,1.1,Africa,False,B
19,Bhutan,23,0,0,0.4,Asia,False,B

Sometimes, we want to apply a min/max function to a set of columns and find which column produces the result. This can be achieved using the `idxmax` function.

In [152]:
drinks.loc[:, 'beer_servings':'wine_servings']

     beer_servings  spirit_servings  wine_servings
0                0                0              0
1               89              132             54
2               25                0             14
3              245              138            312
4              217               57             45
..             ...              ...            ...
188            333              100              3
189            111                2              1
190              6                0              0
191             32               19              4
192             64               18              4

[193 rows x 3 columns]

In [153]:
drinks.loc[:, 'beer_servings':'wine_servings'].apply(max, axis=1)

0        0
1      132
2       25
3      312
4      217
      ...
188    333
189    111
190      6
191     32
192     64
Length: 193, dtype: int64

In [154]:
drinks.loc[:, 'beer_servings':'wine_servings'].idxmax(axis=1)

0        beer_servings
1      spirit_servings
2        beer_servings
3        wine_servings
4        beer_servings
            ...
188      beer_servings
189      beer_servings
190      beer_servings
191      beer_servings
192      beer_servings
Length: 193, dtype: object

## Exercise

1. Create a new column which contains the age each of the passengers would have had today (Titanic sunk in 1912)
2. Create a new column with the string value *survived* or *died* for each passenger
3. Create a new column `Deck` containig the symbol of the deck on which the passenger was travelling (the first letter of the cabin number)

## Joining data frames

There are multiple methods to join data frames, but we will focus on only two methods and forget about the rest:
- `pd.concat`: joins data frames vertically or horizontally
- `pd.merge`: performs database-like inner, outer, left, and right-joins based on an index or a column

In [ ]:
cities = pd.DataFrame({
    'country': ['Germany', 'Germany', 'Poland', 'Poland', 'Russia', 'Russia'],
    'city': ['Berlin', 'Munich', 'Warsaw', 'Cracow', 'Moscow', 'St Petersburg'],
    'is_capital': [True, False, True, False, True, False]
})

banks = pd.DataFrame({
    'country': ['Germany', 'Germany', 'Poland', 'France', 'France'],
    'name': ['Deutsche Bank', 'Commerzbank', 'Santander', 'Credit Agricole', 'BNP Paribas']
    
})

In [ ]:
pd.concat([cities, banks], axis=0)

In [ ]:
pd.concat([cities, banks], axis=1)

In [ ]:
pd.merge(cities, banks)

In [ ]:
banks.columns = ['country_name', 'bank_name']

pd.merge(cities, banks)

In [ ]:
pd.merge(cities, banks, left_on='country', right_on='country_name')

In [ ]:
cities.set_index('country', inplace=True)
banks.set_index('country_name', inplace=True)

pd.merge(cities, banks, left_index=True, right_index=True)

In [ ]:
pd.merge(cities, banks, left_index=True, right_index=True, how='inner')

In [ ]:
pd.merge(cities, banks, left_index=True, right_index=True, how='left')

In [ ]:
pd.merge(cities, banks, left_index=True, right_index=True, how='right')

In [ ]:
pd.merge(cities, banks, left_index=True, right_index=True, how='outer')

## Using pipes for data processing

The most pythonic way of performing a sequence of operations is to chain operators. However, this may not result in the most readable code. A simple library called `pipe` solves this problem by borrowing the chaining syntax from R.

Before observing `pipe` in action, let us first analyze the behavior of traditional `map()` and `filter()` functions.

In [ ]:
numbers = list(range(10))

even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
even_numbers

In [ ]:
squares = list(map(lambda x: x**2, numbers))
squares

In [ ]:
def square(x): return x**2
def is_even(x): return x % 2 == 0

squares_of_even_numbers = list(map(square, filter(is_even, numbers)))
squares_of_even_numbers

The same functionality can be much easier achieved using pipes.

In [ ]:
from pipe import where, select

list(numbers 
     | where(is_even)
     | select(square)
    )

pipe operator `|` simply passes the output of one function as the input to another function. The remaining functions perform the following:
- `where`: filter out only those element of the iterable which fulfill the condition
- `select`: applies a function to each element of the iterable
- `traverse`: recursively unchain a sequence of iterables
- `groupby`: groups elements of an iterable 
- `dedup`: removes duplicates from an iterable

In [ ]:
from pipe import dedup

numbers = [1, 2, 3, 4, 5] * 3

print(f"Before deduplication: {numbers}")
print(f"After deduplication: {list(numbers | dedup)}")

In [ ]:
from pipe import traverse

nested_numbers = [1, 2, 3, [4, 5], [6, 7], 8, [9, 0]]

print(f"Unnested numbers: {list(nested_numbers | traverse)}")

In [ ]:
from pipe import groupby

numbers = list(range(10))

even_odd_numbers = list(
    numbers 
    | groupby(lambda x: "even" if x % 2 == 0 else "odd") 
    | select(lambda x: {x[0]: list(x[1])})
    )
    
print(f"Even and odd numbers: {even_odd_numbers}")

## Exercise

Using pipes, perform the following queries:

1. List unique ages of women who survived the sinking
2. Compute the mean age of passengers based on the port of embarkment
3. Create a list of titles (Mr., Mrs., etc.) and last names of passengers who died.